In [3]:
# Importing libraries and dataset

import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('F:\MachineHack\Regression Analysis\Random Forest Regression\\advertising.csv')
data

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [4]:
# Defining input and output features

x = data.iloc[:, :-1].values
y = data.iloc[:, -1].values
print(x.shape, y.shape)

(200, 3) (200,)

In [5]:
# defining training and testing dataset

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=0)

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(180, 3)
(20, 3)
(180,)
(20,)

In [6]:
# Defining and training Random forest regressor model

from sklearn.ensemble import RandomForestRegressor

reg = RandomForestRegressor(n_estimators = 10)
reg.fit(x_train, y_train)

RandomForestRegressor(n_estimators=10)

In [7]:
# Making predictions on testing dataset

y_pred = reg.predict(x_test)

# Comparing the predicted sales with actual sales

pd.DataFrame(data={'Predicted': y_pred, 'Actual': y_test})

    Predicted  Actual
0       10.97    11.3
1        8.96     8.4
2       10.92    12.0
3       25.43    25.4
4       17.26    16.7
5        9.41     8.7
6        7.20     7.2
7       17.54    18.2
8        8.38     9.2
9       17.84    16.6
10      25.22    24.2
11      11.27    10.6
12      15.89    15.5
13      19.21    20.6
14      12.04    11.8
15      12.20    13.2
16      20.09    17.4
17       5.38     1.6
18      13.40    14.7
19      17.42    17.0

In [8]:
# Evaluating the model perforamace

from sklearn.metrics import mean_squared_error, r2_score
import math

mse = mean_squared_error(y_test, y_pred)
rmse = math.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print('MSE = ', mse)
print('RMSE = ', rmse)
print('R-Squared = ', r2)

MSE =  1.653755000000001
RMSE =  1.2859840589991778
R-Squared =  0.9485904979362431

In [9]:
# As you can see that the value of R-squared is very
# close to 1.
# This indicates that our model is well fitted.